p{
    padding: 30px;
    width: 400px;
    border: 1px;
    margin: auto;
}
h1{
    margin: auto;
    text-decoration: underline;
}
h2{
    margin: auto;
}
body{
    background-color: antiquewhite;
}
